__pycache__/
*.pyc
.env
.vscode/
dist/
work/
tests/*
scripts/
build/
*.egg-info
*.xlsx
TODO.txt
TODO.md
*.eb

# Conserver le dossier `custom/` et `custom/README.md`, ignorer les sous-dossiers
custom/*
!custom/README.md
!custom/document.py.template
!custom/pyUPSTIlatex.json
!custom/.env.template
!custom/config.toml.template
!custom/templates/