__pycache__/
*.pyc
.env
.vscode/
dist/
work/
tests/
scripts/
build/
*.egg-info
*.xlsx
TODO.txt

# Conserver le dossier `custom/` et `custom/README.md`, ignorer les sous-dossiers
custom/*
!custom/README.md
!custom/document.py.template
!custom/pyUPSTIlatex.json