---
#=======================================================================================
# pyUPSTIlatex - Configuration pour la compilation rapide des fichiers tex
#=======================================================================================
# Emmanuel Bigeard - s2i@bigeard.me
# https://s2i.bigeard.me/pyupstilatex
#---------------------------------------------------------------------------------------
# Les options de compilation des fichiers tex sont définies par défaut dans le fichier
# .env à la racine du projet pyUPSTIlatex.
#
# Si ce fichier {{ nom_fichier_yaml }} est dans le même dossier que le fichier
# tex à compiler, les valeurs définies ici écraseront les valeurs par défaut du fichier
# .env (pour le fichier tex de ce dossier uniquement).
#=======================================================================================
{{ code_yaml }}
