%=======================================================================================
% Emmanuel Bigeard - s2i@bigeard.me
% http://s2i.bigeard.me
% CC BY-NC-SA 2.0 FR - http://creativecommons.org/licenses/by-nc-sa/2.0/fr/
%---------------------------------------------------------------------------------------
% Document généré et géré par pyUPSTIlatex : 
%   - https://s2i.bigeard.me/pyUPSTIlatex
%   - https://github.com/ebigeard/pyUPSTIlatex
%---------------------------------------------------------------------------------------
% Les balises %### BEGIN xxx ###, %### END xxx ### et %### INSERT xxx ### 
% sont indispensables. Il ne faut pas les effacer sans savoir ce qu'on fait...
%=======================================================================================


%=======================================================================================
% Définition du document LaTeX et options de compilation
%=======================================================================================
\documentclass[11pt]{article}
\usepackage{<< version_latex >>}

% Import des packages spécifiques à ce document
%\usepackage{dummy_package}

% Version à compiler (1: version prof, 2: élève, 3: à publier (si doc. à trous))
\newcommand{\UPSTIidVersionDocument}{2}
%=======================================================================================


%=======================================================================================
% Métadonnées pyUPSTIlatex
%=======================================================================================
%### BEGIN metadonnees_yaml ###
<< metadonnees_yaml >>
%### END metadonnees_yaml ###
%=======================================================================================


%=======================================================================================
% Préambule et en-tête du document
%=======================================================================================
%### INSERT preambule_document ###
%=======================================================================================


%=======================================================================================
% Contenu du document
%=======================================================================================
%### INSERT contenu_document ###
%=======================================================================================
\end{document}
